/* CSS PARA TODO SISTEMA*/

body{
    min-height:100vh;
    background-repeat: repeat;
    /*background-attachment: scroll;*/
    /*border-top: 1px solid #D9D9D9;*/
    background-position: top center;
    /*border-bottom: 1px solid #D9D9D9;   */
    background-color: rgba(244, 244, 244, 1); 
    background: url(../../../include/media/bglogin.png); 
    /*text-transform: uppercase;*/
}
.upper{
    text-transform:uppercase!important;
}
.card-footer{
    padding-bottom: 5px!important;
}
.nolink{
	text-decoration: none!important;
	cursor: pointer!important;
}
.nolink:hover{
	color: #3b5998;
}
.full_width{
    min-width: 100%!important;
}
.btn-outline-secondary{
    color: #212529!important;
}
.card-title{
    margin-bottom: 0px!important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {  
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .cd_titulo{
        font-size: 15px!important;
    }
    .cd_body{
        height: 270px!important;
        font-size: 12px!important;
        overflow: hidden;
    }
    .cd_footer{
        padding: 5px!important;
        font-size: 15px!important;
    }
} 

/* Extra large devices (large laptops and desktops, 1080px and up) */
@media only screen and (min-width: 1080px) {
    .cd_titulo{
        font-size: 18px!important;
    }
    .cd_body{
        height: 290px!important;
        font-size: 13px!important;
        overflow: hidden;
    }
    .cd_footer{
        padding: 5px!important;
        font-size: 15px!important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .cd_titulo{
        font-size: 20px!important;
    }
    .cd_body{
        height: 300px!important;
        font-size: 15px!important;
        overflow: hidden;
    }
    .cd_footer{
        padding: 5px!important;
        font-size: 15px!important;
    }
}